@media only screen and (max-width: 768px) {
  p {
    font-size: 17px!important; /* Adjust the font size to match the input fields */
    line-height: 1.3!important; /* Add line height for better readability */
  }
  label {
    font-size: 15px!important; /* Adjust the font size to match the input fields */
  }
}


/* Style the form */
#form {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  ul {
    padding-left: 0;
  }
  /* Style the input fields */
  input {
    padding: 10px;
    /* width: 100%; */
    font-size: 17px;
    font-family: "Poly", Sans-serif;
    border: 1px solid #aaaaaa;
  }
  p {
    padding: 5px 0; /* Adjust the padding to align text vertically with your custom radios */
    font-family: "Lateef", Sans-serif; /* Set the Raleway font for consistent typography */
    color: #02464AFA; /* Set a more readable text color */
    font-size: 25px; /* Adjust the font size to match the input fields */
    line-height: 1.5; /* Add line height for better readability */
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    background-color: #F1E8E2;
  }
  label {
    display: block;
    width: 100%;
    padding: 5px 0; /* Adjust the padding to align text vertically with your custom radios */
    font-family: "Poly", Sans-serif; /* Set the Raleway font for consistent typography */
    color: #333; /* Set a more readable text color */
    font-size: 17px; /* Adjust the font size to match the input fields */
    line-height: 1.5; /* Add line height for better readability */
  }
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  #result-container {
    margin: 20px 0;
  }
  
  #happiness-progress {
    width: 100%;
    background-color: #ddd;
  }
  
  #happiness-level {  
    height: 20px;
  }
  
  #happiness-score {
    margin-top: 10px; 
    text-align: center;
  }
  /* Hide the default radio button */
.custom-radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom-radio-button {

  top: 0;
  height: 25px;
  margin-right: 15px; /* Optional: margin between radio buttons */
  margin-top: 10px; /* Give some space between subsequent rows of radio options */
  line-height: 25px; /* Aligns the label text with the custom radio button */
  padding-left: 35px; /* Space for the custom radio button */
  position: relative; /* Set the label to have a relative position */
  display: flex; /* Flex display to align items horizontally */
  align-items: center; /* Center-align the flex items vertically */
  gap: 10px; /* Add space between the custom radio button and the text */
  cursor: pointer;
  font-size: 17px; /* Matched text size */
  user-select: none;
  margin-bottom: 10px; /* Space between each radio button, adjust as needed */
}
/* Create a custom radio button */
.custom-radio-button .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
/* On mouse-over, add a grey background color */
.custom-radio-button:hover input ~ .checkmark {
  background-color: #ccc;
}
/* Styling when the radio button is selected */
.custom-radio-button input:checked ~ .checkmark {
  background-color: #02464AFA;
}

/* Create the indicator (the dot/circle) */
.custom-radio-button .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator when the radio button is checked */
.custom-radio-button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (the dot/circle) */
.custom-radio-button .checkmark:after {
   top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
#nextBtn{
  font-family: "Poly", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.8px;
  fill: #fff;
  color: #fff;
  background-color: #02464AFA;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #fff;
  border-radius: 7px 7px 7px 7px;
  padding: 18px 35px 18px 35px;
  cursor: pointer;
}
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

p, label {

  animation: slideFromLeft 2s ease-out forwards;
}
